﻿@model List<Todo>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<style>

    body {
        font-family: 'Ubuntu', sans-serif;
    }

    .updateButton:hover {
        background-color: green;
    }

    .delButton:hover {
        background-color: red;
        color: white;
    }

    .doingButton:hover {
        background-color: blue;
    }

    .detailsButton:hover {
        background-color: silver;
    }

    a > i:hover {
        color: white;
    }

    .taskCard {
        border-bottom: 2px solid;
        border-color: silver;
        justify-content: start;
    }

    .taskCard:hover {
        border: 3px solid;
        border-color: silver;
    }    

    .taskCard-element {
        margin-top: 10px;
    }

    .itemId {
        height: 20px;
        width: 20px;
    }

    .noTaskHeader {
        text-align: center;
        border: 1px solid;
        border-color: silver;
        width: 100%;
        padding: 10px;
    }
</style>

<div class="container-sm">
    <h1>Your Todos</h1>

    @if (@Model.Count == 0)
    {
        <h3 class="noTaskHeader">You dont have any tasks, add some</h3>
    }

    @foreach (var item in @Model)
    {
        <div class="taskCard row">
            <input type="checkbox" @(item.Status == 2 ? "checked='checked'" : "") value="@item.Id" class="itemId col-md-1 taskCard-element" />
            <h5 class="col-6 taskCard-element">
                @item.Title - @if (item.Status == 0)
                {
                    <i class="bi bi-flag"></i>
                }
                else
                {
                    <i class="bi bi-flag-fill"></i>
                }
            </h5>

            @if (item.DueDate < DateTime.Now)
            {
                <div class="d-flex justify-content-end col">
                    <h5 class="overdue taskCard-element">Overdue</h5>
                </div>
            }

            <div class="dropdown d-flex justify-content-end col">
                <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-list"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <a href="/details/@item.Id" class="btn btn-sm dropdown-item detailsButton">
                        <i class="bi bi-pencil-square">Details</i>
                    </a>

                    <a asp-controller="Todo" asp-action="UpdatePage" asp-route-id="@item.Id" class="btn btn-sm dropdown-item updateButton">
                        <i class="bi bi-pencil-square">Edit</i>
                    </a>
                    <a class="btn btn-sm dropdown-item delButton" data-id="@item.Id">
                        <i class="bi bi-trash">Delete</i>
                    </a>
                    <a class="btn btn-sm dropdown-item doingButton" data-id="@item.Id" data-status="@item.Status">
                        @if (item.Status == 0)
                        {
                            <i class="bi bi-flag-fill">Mark as doing</i>
                        }
                        else
                        {
                            <i class="bi bi-flag">Mark as todo</i>
                        }
                    </a>
                </div>
            </div>

        </div>
    }

    <div class="d-flex justify-content-end">
        <a asp-controller="Todo" asp-action="AddPage" class="btn btn-lg btn-primary addButton mt-4">
            <i class="bi bi-plus-square"></i>
        </a>
    </div>

</div>

<script>

    $(document).ready(function () {

        $(".itemId").on('change',function (){
            var itemId = $(this).val();

            var d = {id: itemId};

            $.ajax({
                type: 'POST',
                url: '@Url.Action("MarkAsFinished", "Todo")',
                data: d,
                success: function (data) {
                    if(data.success == "Success"){
                        location.reload();
                    }
                    else{
                        alert("something went wrong");
                    }
                }
            });
        });

        $(".delButton").on('click', function() {
            var itemId = $(this).data("id");

            var d = {id: itemId};

            var result = confirm("Are you sure you want to delete this item");

            if (result){
                $.ajax({
                    type:'POST',
                    url: '@Url.Action("DeleteTodo", "Todo")',
                    data: d,
                    success: function (data) {
                        if(data.success == "Success"){
                            location.reload();
                        }
                        else{
                            alert("something went wrong");
                        }
                    }
                });
            }
        });

        $(".doingButton").on('click', function() {
             var itemId = $(this).data("id");
             var checkStatus = $(this).data("status");

             if(checkStatus == 0){
                var d = {id: itemId, status: 1};
             }else{
                var d = {id: itemId, status: 0};
             }


             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("ChangeTodoStatus", "Todo")',
                 data: d,
                 success: function(data){
                     if(data.success == "Success"){
                        location.reload();
                     }
                     else{
                         alert("something went wrong");
                     }
                 }
             });
        });
    });

</script>

